
/*html elements*/
html body{
  width: 1903px;;
}
header{
  position: fixed;
  padding: 20px 0px;
  z-index: 10;
}
nav{
  float: right;
  display: flex;
}

header p{
  margin: 0 30px;
  cursor: pointer;

}

/*header */

.nav{
  font-family:Arial;
  color:#3e3e3e;
  font-size: 30px;
  font-weight: bold;
  float: right;
  margin: 10px;
}


/*Beginning section*/

#name{
  margin: 250px 0 0 50px;
  font-family:Orbitron;
  color:black;
  font-size: 60px;
}

#goal{
  font-family: Orbitron;
  color: #252525;
  font-size: 50px;
  margin:0 0 0 60px;
}

.btn-lg{
  font-family: Orbitron;
  font-size: 40px;
  color: white;
  background-color: #2e3192;
  box-shadow: 5px 5px 5px #787878;
  width: 300px;
  height: 100px;
  clear: left;
  margin: 20px 0 0 110px;
}
.pic{
  float: right;
  margin-top: 151px;
  position: relative;
}




.main{
  width:100%;
  height: 950px;
  background : linear-gradient(#d9d8d8,#939393);
}
.container{
  width: 100%;
}

/* Skills Section*/

.second{
  background-color: white;
  height: 800px;
  width: 100%;
}

#Skills{
  color: black;
  font-family: Orbitron;
  font-size: 70px;
}
.bubble{
  margin: 100px 0 0 200px;
}

.skill-header{
  font-family: Orbitron;
  font-size: 50px;
  color: black;
  text-decoration: underline;
  text-align: center;
  margin: 10px 0 20px;
}

.description{
  font-family: Arial;
  color: black;
  text-align: center;
}
