
/*html elements*/
html body{
  width: 100%;
}
header{
  position: fixed;
  padding: 20px 0px;
  z-index: 10;
}
nav{
  float: right;
  display: flex;
}

header p{
  margin: 0 30px;
  cursor: pointer;

}

/*header */

.nav{
  font-family:Arial;
  color:#3e3e3e;
  font-size: 30px;
  font-weight: bold;
  float: right;
  margin: 10px;
}


/*Beginning section*/

#name{
  margin: 250px 0 0 50px;
  font-family:Orbitron sans-serif;
  color:black;
  font-size: 100px;
}

#goal{
  font-family: Orbitron sans-serif;
  color: #252525;
  font-size: 50px;
  margin:0 0 0 60px;
}

.btn-lg{
  font-family: Orbitron sans-serif;
  font-size: 40px;
  color: white;
  background-color: #2e3192;
  box-shadow: 5px 5px 5px #787878;
  width: 300px;
  height: 100px;
  clear: left;
  margin: 20px 0 0 110px;
  display: inline-block;
}
.pic{
  float:right;
  display: inline-block;
  position: absolute;
  width: 700px;
  height: 750px;
  bottom: 0;
  right:0;
}




.main{
  width:100%;
  background : linear-gradient(#d9d8d8,#939393);
  position:relative;
}
.container{
  width: 100%;
}

/* Skills Section*/

.second{
  background-color: white;

  width: 100%;
}

#Skills{
  color: black;
  font-family: Orbitron sans-serif;
  font-size: 70px;
  padding-bottom: 50px;
  font-weight: bold;
}

.bubble{
  text-align: center;
  display:block;
  margin: auto;
}

.skill-header{
  font-family: Orbitron sans-serif;
  font-size: 40px;
  color: black;
  text-decoration: underline;
  text-align: center;
  margin: 10px 0 60px;
  font-weight: bold;
}

.description{
  font-family: Arial;
  color: black;
  text-align: center;
  font-size: 25px;
}
.pad{
  margin-top: 55px
}


/*Triangle seporator*/


.arrow-down {
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-top: 100px solid white;
  margin-left: 46.6%;
  margin-top: -48px;
}


/* Languages*/
.third{
  background-color: #4e51b3;
  width: 100%;
}
#Languages{
  font-family: Orbitron sans-serif;
  font-size: 70px;
  color: white;
}
.x{
  text-align: center;
  margin-top: 30px;
}
.circle{
  height:400px;
  width:400px;
  border-radius: 200px;
  box-shadow: 0px 0px 15px 5px rgba(4,32,107,.75);
  background-color: #d8e2fd;
  display: inline-block;
  margin-right: 190px;
  margin-top: -110px;
}

.des{
  color:#3e3e3e;
  font-size: 30px !important;
  font-weight: bold !important;
  text-align: center;
  margin-left: 102px;
  margin-top: 90px;
}
